---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
- apiGroups:
  - mps.playfab.com
  resources:
  - gameserverbuilds
  - gameservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mps.playfab.com
  resources:
  - gameserverbuilds/finalizers
  - gameservers/finalizers
  verbs:
  - update
- apiGroups:
  - mps.playfab.com
  resources:
  - gameserverbuilds/status
  - gameservers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - mps.playfab.com
  resources:
  - gameserverdetails
  verbs:
  - get
  - list
  - watch
