# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Setup Go environment
        uses: actions/setup-go@v2.1.3
        with:
          # The Go version to download (if necessary) and use. Supports semver spec and ranges.
          go-version: 1.16.5
      - name: build Docker images
        run: make builddockerlocal
      - name: GameServer API service unit tests
        run: cd tools/gameserverapi && GIN_MODE=release go test
      - name: initcontainer unit tests
        run: cd initcontainer && go test
      - name: sidecar unit tests
        run: cd sidecar-go && go test
      - name: nodeagent unit tests
        run: cd nodeagent && go test
      - name: operator unit tests
        run: IMAGE_NAME_SAMPLE=thundernetes-netcore-sample IMAGE_NAME_INIT_CONTAINER=thundernetes-initcontainer IMAGE_NAME_SIDECAR=thundernetes-sidecar-go TAG=$(git rev-list HEAD --max-count=1 --abbrev-commit) make -C operator test
      - name: install kind binaries
        run: make installkind
      - name: create kind cluster
        run: make createkindcluster
      - name: run end-to-end tests
        run: make e2elocal
